@import '../Toolbar/toolbar.scss';

$sidebarShrinkAnimationDuration: 700ms;

.root {
    width: calc(100vw + 260px);
    display: inline-flex;
    left: -260px;
    position: absolute;
    transition: left .5s;
    will-change: left;

    &.navigation-visible {
        left: 0;
    }
}

.content {
    width: 100vw;
    flex-shrink: 0;
    min-height: 500px;
}

.main {
    height: 100vh;
    overflow-y: auto;
    display: flex;
}

.content {
    flex: 2;
    overflow: scroll;
}

.sidebar {
    &.small {
        flex: 1;
        transition: flex $sidebarShrinkAnimationDuration;
    }

    &.middle {
        flex: 2;
        transition: flex $sidebarShrinkAnimationDuration;
    }

    &.large {
        flex: 3;
        transition: flex $sidebarShrinkAnimationDuration;
    }
}

.header {
    position: relative;
    z-index: 1;
}

.navigation {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}
